
* {
	margin: 0;
	padding: 0;
	
}
.container{
	height: 100vh;
	width: 100%;
	background-image: url(hero_1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 15s;

	animation-name: animate;
	animation-direction: forwards;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease-in-out;

}

@keyframes animate{
	0%{
		background-image: url(hero_1.jpg);
	}20%{
		background-image: url(hero_1.jpg);
	}
  20.01%{
		background-image: url(hero_1.jpg);
	}50%{
		background-image: url(hero_2.jpg);
	}
  50.01%{
		background-image: url(hero_2.jpg);
	}80%{
		background-image: url((hero_3.jpg);
	}
  80.01%{
		background-image: url((hero_3.jpg);
	}

}

.decorate h1{
text-align: center;
vertical-align: middle;
  text-decoration: underline;

line-height: 400px; 
font-family: 'Annie Use Your Telescope';font-size: 80px;
color: white;
}
.decorate p{
  text-align: center;
vertical-align: middle;
  font-style: oblique;
  font-size: 40px;

}

.center {
 text-align: center;
vertical-align: middle;
line-height: 400px; 
}